* {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}

h1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 70px;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}

.bgwhite {
    background-color: #ffffff;
}